html body {
  font-family: helvetica, sans-serif;
  background: #00405d;
  color: #fff;
}

body h2{
    color: #fff;
    text-align: center;
}

body .row .row{
    margin: 0 2rem;
}

body  .row.gen-top {
    max-width: 640px;
    margin: -5px auto 0px;
    padding-bottom: 14px;
}

.row.gen-top .medium-12 {
    margin-top: 10px;
}

body p {
    margin-bottom: 0px;
}

.flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.print-band-name:first-child {
    margin-bottom: -5px;
    font-size: 1.4rem;
}
.print-band-name {
    text-align: center;
}

.print-band-name span {
    margin: 0px .5rem;

}

header {
    background: rgba(0,0,0,.35);
}

#addWords {
    width: 95%;
    margin: 0 auto;
    display: table;
}

#submitWords .row {
    max-width: 50rem;
    margin: 0 auto;
}

#submitWords .medium-4 {
    margin-bottom: .8rem;
}

input[type=text] {
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    margin: 0px auto -5px;
    display: table;
    outline: #fff;
    padding: 3px;
}

input[type=submit], #colors {
    
    color: #fff;
    font-size: 1.2rem;
    background-color: #E74C3C;
    border: none;
    padding: 9px 30px;
    border-radius: 4px;
    margin-top: 10px;
    max-width: 286px;
    outline: none;
}

#colors {
  margin: 10px auto 50px;
  display: table;
  font-size: .8rem !important;
  background: rgba(0,0,0,.3);
}

.addWordsBottom {
    padding: 2rem 0rem;
    background-color: rgba(255,255,255,.2);
    margin-top: 1.5rem !important;
}

.addWordsBottom h3 {
    text-align: center;
    margin-bottom: -7px;
    color: #fff;
    margin-top: 0px;
}

.addWordsBottom h5 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #000;
}

#quote {
    font-size: 2rem;
    background: #e74c3c;
    padding: 13px 37px;
    border-radius: 7px;
    border: none;
    color: #fff;
    margin-top: 2rem;
    outline: none;
}

#adjective, #verb, #noun {
    font-size: 3.2rem;
    text-transform: uppercase;
}

body .thanksText {
    text-align: center;
    margin-top: 30px;
}

#adjectiveRes {
    margin-top: 60px;;
}

@media only screen and (max-width: 762px) {
    html, body {font-size: 85% !important;}
    #quote {font-size: 1.4rem; }
}

@media only screen and (max-width: 500px) {
    #quote {font-size: 1.3rem;  padding: 10px 22px; }
    .row.gen-top .small-4 {
        font-size: .5rem;
    }
    
    #adjective, #verb, #noun {
        font-size: 1.9rem;
    }
}